<div th:include="header.html" th:remove="tag"></div>
 <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">E-Doctor</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/calendar">Agenda</a></li>
              <li><a href="#">Configurar centro</a></li>
              <li><a href="/user/profesional">Agregar profesional</a></li>
              <li><a href="/user/invitation">Invitar a alguien</a></li>
            </ul>
          
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!--SESION EXPIRADA-->

  <div style="width: max;">

    <div style="width: 150px;float:right;">
      <a href="/logout" class="logout">Cerrar sesión <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>

      <div style="width: 300px;float:right;">
        <input type="hidden" id="txtNavUser" th:value=${activePerfil}>
        <input type="hidden" id="txtIdProf" th:value="${activeProf}">
        <input type="text" id="txtIdCentro" th:value="${activeCentro}">
      <p id="label-username" class="label-username"><span th:text="${activeUser}">Usuario</span></p>
    </div>
  </div>