<div th:include="header.html" th:remove="tag"></div>
<body>
	<div class="container">
		<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info" >
	  			<div class="panel-heading">
                    <div class="panel-title">Registro de usuario</div> 
            	</div> 

                <div style="padding-top:30px" class="panel-body" >
			
					 <form class="" th:action="@{/user/adduser}" method="post">
						
						  <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input type="text" id="txt_reg_nombre" name="nombre" class="form-control" th:field="*{user.nombre}"  placeholder="Ingresa tu nombre" required/>
								</div>
							</div>
						</div>

					 <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Apellido Paterno</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input type="text" th:field="*{user.apat}"  class="form-control" name="a_pat" id="txt_reg_apat"  placeholder="Ingresa tu apellido" required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Apellido Materno</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input type="text" th:field="*{user.amat}"  class="form-control" name="a_mat" id="txt_reg_amat"  placeholder="Ingresa tu apellido"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<input type="email" th:field="*{user.email}"  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" name="email" id="txt_reg_email"  placeholder="Ingresa tu Email" required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Confirma tu Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" name="email_confirm" id="txt_mail_confirm"  placeholder="Confirma tu Email" required />
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" th:field="*{user.pass}" class="form-control" name="password" id="txt_reg_pass"  placeholder="Ingresa tu Password" required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirmar contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirmPass"  placeholder="Confirma tu Password" required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">¿Cómo se llama tu Clínica?</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-h-square" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="nombreClinica" id="nombreClinica"  placeholder="Nombre de la Clínica" required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">¿Cuál es la dirección de la Clínica?</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
									<input type="text" class="form-control"  name="direccionClinica" id="direccionClinica" placeholder="Dirección"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">¿Qué función realizarás?</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user-md" aria-hidden="true"></i></span>
									<select id="cboPefilUser" th:field="*{user.perfil}"  class="form-control">
										<option value="0">Agenda</option>
										<option value="1">Atención profesional</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<div th:if="${errormail == 1}">
								<p th:text="${errormail}"></p>
							</div>
							<!-- Instead of div below, you could supply a modal and pice of javascript opening it -->
							<div th:if="${errormail == 1}">
								<h3>Error occurred:</h3>
								<p th:text="${errormail}"></p>
							</div>
							
							<div th:if="${success == 1}">
								<p th:text="${success}"></p>
							</div>

							<div th:if="${errormail != null}" class="alert alert-danger" role="alert">El correo ya está registrado</div>
							<div th:if="${success != null}" class="alert alert-info" role="alert">Usuario registrado exitosamente</div>
								<button class="btn btn-lg btn-primary btn-block" type="submit">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar
								</button>

								<a href="/" class="btn btn-lg btn-info btn-block" type="submit">
									<span class="glyphicon glyphicon-user" aria-hideen="true"></span> Ir a iniciar sesión
								</a>
						</div> 
					</form>
				</div>
			</div>
		</div>
	</div>
		<script th:if="${errormail == 1}">
			alert('El correo ya está registrado');
			location.href = "redirect:/user/register?errormail";
		</script>
</body>
</html>