<div th:include="header.html" th:remove="tag"></div>
<div th:include="nav.html" th:remove="tag"></div>

<body>
    <div class="container">
        <div class="row col-md-9 col-md-offset-2 col-sm-6 col-sm-offset-2" style="margin-top: 10px;">
            <h3>Administración de Usuarios</h3>
            <br>
			<div class="main-login main-center">
                <table id="table-usuarios" class="table table-hover">
                    <thead>
	        	   
                    </thead>
                </table>
			</div>
		</div>
    </div>

    <!-- Modal -->
    <div id="modalEditaUser" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Mofidicación Perfil de Usuario</h4>
            </div>
    
            <div class="modal-body">
    
            <label>Perfil</label>
            <input type="hidden" id="txtHiddenUserEdita">
            <select id="cboPerfilUser" class="form-control">
                <option value="0">Agenda</option>
                <option value="1">Atención Profesional</option>
            </select>
    
            </div>
            <div class="modal-footer">
                <button type="button" id="btnEditaUserPerfil" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>

        <!-- Modal -->
        <div id="modalEliminaUser" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <div class="modal-body">
                    <input type="hidden" id="txtHiddenUserElimina">
                    <h4>¿Confirma que desea eliminar el usuario?</h4>
        
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnEliminaUserPerfil" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        </div>
    <script>
    $(document).one('ready', function(e){
        e.stopImmediatePropagation();
        //var base_url = 'http://localhost:8080/';
        var base_url = 'https://clinic-calendar.herokuapp.com/';
        var idCentro = $('#txtIdCentro').val();

        llenaTabla();

        function llenaTabla(){
            $.ajax({
                type: 'get',
                url: base_url +'user/list/'+idCentro,
                success: function(data){
                    $("#table-usuarios thead").append("<th style='display:none;'>Id</th><th>Nombre Usuario</th><th>Perfil</th><th></th><th></th>");
					$('#table-usuarios tr').remove();
                    $.each(data, function(i, item){
					$('<tr>').html(
                        "<td style='display:none;'>"+data[i].id+"</td>"+
                        "<td>"+data[i].nombre+"</td><td>"+data[i].perfil+"</td>"+
                        "<td><button id='btnEditaUser' type='button' data-id="+data[i].id+" data-toggle='modal' data-target='#modalEditaUser' class='btn btn-info'><span class='glyphicon glyphicon-pencil'></span> Modificar perfil</button></td>"+
                        "<td><button id='btnEliminaUser' type='button' data-id="+data[i].id+" data-toggle='modal' data-target='#modalEliminaUser' class='btn btn-danger'> <span class='glyphicon glyphicon-remove'></span> Eliminar</button></td></tr>").appendTo('#table-usuarios');
                         
                    });
                },
                error: function(){
                    console.log('error al cargar tabla usuarios');
                }
            });
        }
	});
    </script>
</body>
</html>