<div th:include="header.html" th:remove="tag"></div>
<div th:include="nav.html" th:remove="tag"></div>

<body>
    <div class="container">
        <div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-2" style="margin-top: 10px;">
            <h3>Administración de Usuarios</h3>
			<div class="main-login main-center">
                <table id="table-usuarios" class="table table-hover">

                </table>
			</div>
		</div>
    </div>
    <script>
    $(document).one('ready', function(e){
        e.stopImmediatePropagation();
        var base_url = 'https://clinic-calendar.herokuapp.com/';
        var idCentro = $('#txtIdCentro').val();

        llenaTabla();

        function llenaTabla(){
            $.ajax({
                type: 'get',
                url: base_url +'user/list/'+idCentro,
                success: function(data){
                    $("#table-usuarios thead").append("<th style='display:none;'>Id</th><th>Nombre Usuario</th><th>Perfil</th><th></th><th></th>");
					$('#table-usuarios tr').remove();
                    $.each(data, function(i, item){
					$('<tr>').html(
                        "<td>"+data[0].id+"</td>"+
                        "<td>"+data[0].nombre+"</td><td>"+data[0].perfil+"</td>"+
                        "<td><button id='btnEditaUser' type='button' data-id="+data[i].id+" data-toggle='modal' data-target='#modalEditaUser' class='btn btn-info'><span class='glyphicon glyphicon-pencil'></span> Modificar perfil</button></td>"+
                        "<td><button id='btnEliminaUser' type='button' data-id="+data[i].id+" data-toggle='modal' data-target='#modalEliminaUser' class='btn btn-info'> <span class='glyphicon glyphicon-remove'></span> Eliminar</button></td></tr>").appendTo('#listaLotes');
                         
                    });
                },
                error: function(){
                    console.log('error al cargar tabla usuarios');
                }
            });
        }
	});
    </script>
</body>
</html>